# Node Modules #
################

/node_modules

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


# Word/LibreOffice Files #
##########################

*.doc
*.docx
*.odt
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# LibreOffice locks
.~lock.*#

