.classe1{
    background: blue;
    width:800px;
    height:800px;
    position: static;
    top: 20px;
    left: 30px;
}

.classe2{
    background: green;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.classe3{
    background: yellow;
    width: 200px;
    height: 200px;
}